<!doctype html>
<html>

<head>
    <title>JuRY Scroll</title>
    <link rel="shortcut icon" href="/images/jury.jpeg" type='image/jpeg' />
    <link rel="icon" href="/images/jury.jpeg" type='image/jpeg' />

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
</head>

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>

<script>
    //At this point we get a Randoms string to add to the ticker update
    function uuidv4() {
        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
            var r = Math.random() * 16 | 0,
                v = c == 'x' ? r : (r & 0x3 | 0x8);
            return v.toString(16);
        });
    }
    const updateVal = uuidv4();
    $(function () {
        var socket = io();
        $('form').submit(function () {
            socket.emit('ticker update', {
                id: updateVal,
                update: $('#m').val()
            });
            return false;
        });
        $("#partnerPage").text(window.location.href + "view/" + updateVal);
    });
</script>

<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container text-center">
            <img class="img-fluid" src="/images/jury.jpeg" />
            <h1 class="display-3">JuRY Scroll!</h1>
            <p class="lead">A Quick Way to make scroll tickers in your browser!</p>
        </div>
    </div>
    <div class="container text-center">
        <h1 class="lead">Enter what you want to update the ticker with and hit 'Enter'</h1>
        <form action=" ">
            <input id="m" class='form-control' type='' placeholder='Politics Politics Politics' autocomplete="off " />
        </form>
    </div>
    <br></br>
    <div class="container text-center">
        <h1 class="lead">Paste this link in a new tab or OBS to have a Ticker Auto Update</h1>
        <label id="partnerPage"></label>
    </div>
</body>
<footer>
    <div class='container text-center'>
        <br></br>
        <label>Made with
            <span style="color: #e25555;">&#9829;</span> for &lt;&gt;</label>
    </div>
</footer>

</html>